<!DOCTYPE html>

<html lang="en">

<head>
    <style>
        body {
            width: 100%;
            position: relative;
        }

        #selector {
            width: 100px;
            position: relative;
            font-size: 13px
        }

        .flex-container {
            display: flex;

        }
    </style>


</head>

<body>
    <h1>Stocks market </h1>
  
    <button id="oneMinute"> 1 minute"</button>
    <button id="fiveMinute" > 5 minute"</button><br>
    <fieldset id="selector">
        Research
        <% alertCounter.alertCounter.forEach(function(date){ %>
            <option><%= date%></option>
            <option></option>
            <% }) %>
    </fieldset>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div class="flex-container">
        <fieldset id="selector">
            Minute
            <% stockData.minute.forEach(function(date){ %>
                <option><%= date%></option>
                <option></option>
                <% }) %>
        </fieldset>
        <fieldset id="selector">
            High
            <% stockData.high.forEach(function(date){ %>
                <option><%= date%></option>
                <option></option>
                <% }) %>
        </fieldset>
        <fieldset id="selector">
            Low
            <% stockData.low.forEach(function(date){ %>
                <option><%= date%></option>
                <option></option>
                <% }) %>
        </fieldset>
        <fieldset id="selector">
            Volume
            <% stockData.volume.forEach(function(date){ %>
                <option><%= date%></option>
                <option></option>
                <% }) %>
        </fieldset>
        <fieldset id="selector">
            NumberOfTrades
            <% stockData.numberOfTrades.forEach(function(date){ %>
                <option><%= date%></option>
                <option></option>
                <% }) %>
        </fieldset>
        <fieldset id="selector">
            Open
            <% stockData.open.forEach(function(date){ %>
                <option><%= date%></option>
                <option></option>
                <% }) %>
        </fieldset>
        <fieldset id="selector">
            Close
            <% stockData.close.forEach(function(date){ %>
                <option><%= date%></option>
                <option></option>
                <% }) %>
        </fieldset>

   
    </div>
    <div id="chart_div" style="width: 1200px; height: 500px;"></div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  
function drawChart() {
    
var data = google.visualization.arrayToDataTable(<%-JSON.stringify(fiveMinuteChart.fiveMinuteChart)%>, true);

  // Treat first row as data as well.

var options = {
  legend:'none',
  colors:['red','green'],
  
  candlestick:{fallingColor:{fill: 'red'}},
  candlestick:{fallingColor:{stroke: 'red'}},
  candlestick:{fallingColor:{strokeWidth: 5}},
  candlestick:{risingColor:{fill: 'green'}},
  candlestick:{risingColor:{stroke: 'green'}},
};

var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

chart.draw(data, options);
}

document.getElementById('fiveMinute').addEventListener('click',function(){
    
    google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  
function drawChart() {
    
var data = google.visualization.arrayToDataTable(<%-JSON.stringify(fiveMinuteChart.fiveMinuteChart)%>, true);

  // Treat first row as data as well.

var options = {
  legend:'none',
  colors:['red','green'],
  
  candlestick:{fallingColor:{fill: 'red'}},
  candlestick:{fallingColor:{stroke: 'red'}},
  candlestick:{fallingColor:{strokeWidth: 5}},
  candlestick:{risingColor:{fill: 'green'}},
  candlestick:{risingColor:{stroke: 'green'}},
};

var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

chart.draw(data, options);
}

});

document.getElementById('oneMinute').addEventListener('click',function(){   
    
    google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
    function drawChart() {    
        var data = google.visualization.arrayToDataTable(<%-JSON.stringify(stockData.chart)%>, true);    
      // Treat first row as data as well.
    
    var options = {
      legend:'none',
      colors:['red','green'],
      
      candlestick:{fallingColor:{fill: 'red'}},
      candlestick:{fallingColor:{stroke: 'red'}},
      candlestick:{fallingColor:{strokeWidth: 5}},
      candlestick:{risingColor:{fill: 'green'}},
      candlestick:{risingColor:{stroke: 'green'}},
    };
    
    var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
    
    chart.draw(data, options);
    }


});



</script>

</html>
